<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <form class="" action="{%url action%}" id="{{action}}" autocomlete="on" method="post">
                {% csrf_token %}
                <input required class="" type="text" name="username" placeholder="用户名">
                <input required class="" type="password" name="password" placeholder="密码">
                {% if captcha_hash %}
                    <img class="captcha" src="{{captcha_image}}" alt="captcha" >
                    <input class="" type="hidden" name="captcha_hash" value="{{captcha_hash}}">
                    <input required class="" type="text" name="code" placeholder="验证码">
                {% endif  %}
                <button class="" type="submit">{{action}}</button>
            </form>
        </div>
        <footer>
        </footer>
    </body>
</html>
